.header{
    width: 100%;
    background-color: rgb(214,82,82);
    border-bottom: solid 1px #1f1f1f;
}
.menu {
    margin: 0px; /*margen arriba y abajo*/
    padding: 0px; /*relleno en todos los bordes*/
    display: flex; /*coloca los items horizontales*/
    list-style: none; /*quita vinetas*/
    align-items: center;
    align-content: center;
    justify-content: space-between; /*coloca espacios*/
}
.logo{
    height: 2rem; /*el tamanio del objeto es 2 veces el tamanio de la fuente*/
}
.menu li{
    font-weight: 600;
    padding: 5px;
    text-align: center;
}
  
    